# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode files
glog/xcode/glog.xcodeproj/xcuserdata
glog/xcode/glog.xcodeproj/project.xcworkspace
gtest/xcode/gtest.xcodeproj/xcuserdata
gtest/xcode/gtest.xcodeproj/project.xcworkspace/xcuserdata
luajit/xcode/luajit.xcodeproj/xcuserdata
luajit/xcode/luajit.xcodeproj/project.xcworkspace/xcuserdata
glfw/xcode/glfw.xcodeproj/xcuserdata
glfw/xcode/glfw.xcodeproj/project.xcworkspace/xcuserdata
xcode/3rd-libraries.xcodeproj/xcuserdata
xcode/3rd-libraries.xcodeproj/project.xcworkspace/xcuserdata
xcode/3rd-libraries.xcworkspace/xcuserdata
glew/xcode/glew.xcodeproj/xcuserdata
glew/xcode/glew.xcodeproj/project.xcworkspace/xcuserdata
freetype/xcode/freetype.xcodeproj/xcuserdata
freetype/xcode/freetype.xcodeproj/project.xcworkspace/xcuserdata
